<!doctype html>
<title>Fedimint Helper</title>

<h1>Join Federation</h1>

<img style="height: 200px; width: 200px;" src={{url_for('static', filename='connect.png')}}>


<h1>Pay Invoice</h1>

{% if pay_result %}
  <pre>{{ pay_result }}</pre>
{% endif %}

<form method="post">
  <label for="invoice">Invoice:</label><br>
  <input type="text" id="invoice" name="invoice"><br>
  <input type="submit" value="Submit">
</form> 


<h1>Create Invoice</h1>

{% if invoice %}
  <img style="height: 200pxm; width: 200px;" src="{{ qrcode(invoice) }}">
  <div>{{ invoice }}</div>
{% endif %}

<form method="post">
  <label for="amount">How much:</label><br>
  <input type="text" id="amount" name="amount"><br>
  <input type="submit" value="Submit">
</form> 
