<!doctype html>

<meta>
  <script src="/static/qr-scanner.legacy.min.js"></script>
</meta>

<title>Fedimint Helper</title>

<h1>Join Federation</h1>

<img style="height: 200px; width: 200px;" src="{{ qrcode(connect_str) }}">

<pre>{{ connect_str }}</pre>

<h1>Pay Invoice</h1>

{% if pay_result %}
  <pre>{{ pay_result }}</pre>
{% endif %}

<div id="video-container">
  <video id="video"></video>
</div>

<button id="scan" type="submit">Scan</button>
<button id="stop" type="submit">Stop</button>

<form method="post">
  <label for="invoice">Invoice:</label><br>
  <input type="text" id="invoice" name="invoice"><br>
  <input type="submit" value="Submit">
</form>


<h1>Create Invoice</h1>

{% if invoice %}
  <img style="height: 200pxm; width: 200px;" src="{{ qrcode(invoice) }}">
  <div>{{ invoice }}</div>
{% endif %}

<form method="post">
  <label for="amount">How much:</label><br>
  <input type="text" id="amount" name="amount"><br>
  <input type="submit" value="Submit">
</form>

  <script type="module">
    var scan = document.getElementById('scan');
    var stop = document.getElementById('stop');
    var video = document.getElementById('video');
    var invoice = document.getElementById('invoice');
    var videoContainer = document.getElementById('video-container');

    function stopCamera() {
      qrScanner.stop()
      stop.style.display = "none"
      scan.style.display = "block"
      videoContainer.style.display = "none"
    }

    scan.addEventListener('click', function () {
      qrScanner.start()
      stop.style.display = "block"
      scan.style.display = "none"
      videoContainer.style.display = "block"
    })
    stop.addEventListener('click', stopCamera)

    const qrScanner = new QrScanner(
      video,
      result => {
        let parsed = result.replace("lightning:", "")
        invoice.value = parsed;
        stopCamera()
      },
    );

</script>

<style>
  #video {
    width: 400px;
  }

  #video-container {
    display: none;
  }

  #stop {
    display: none;
  }
</style>
